* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

header {
    background-color: white;
    align-items: center;
}

#title {
    display: inline-block;
    font-weight: bolder;
    vertical-align: middle; 
    font-size: 50px;
    line-height: 90px;
}

body{
    background-color: #f6f8f9;
}

#logo {
    vertical-align: middle;
    margin-left: 50px;
}

.navbar {
    width: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 60px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.button1 {
    font-size: 20px;
    padding: 2px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #47adf1;
    margin-top: 15px;
    margin-left: 50px;
}

.button2 {
    font-size: 20px;
    padding: 2px 10px;
    border-radius: 5px;
    border: 2px solid rgb(214, 214, 214);
    color: rgb(221, 220, 220);
    background-color: white;
    margin-top: 15px;
}

.container {
    width: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}

.cross {
    border-radius: 50%;
    border: 2px solid red;
    height: 25px;
    width: 25px;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
}

.bubble {
    display: inline-block;
    border-radius: 14px;
    background-color: aqua;
    padding: 8px 12px;
    color: white;
}

.argument {
    display: inline-block;
}

.check {
    border-radius: 50%;
    border: 2px solid green;
    height: 25px;
    width: 25px;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
}