* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
}

header {
    background-color: white;
    align-items: center;
}

#title {
    display: inline-block;
    font-weight: bolder;
    vertical-align: middle; 
    font-size: 50px;
    line-height: 90px;
}

body{
    background-color: #f6f8f9;
}

#logo {
    vertical-align: middle;
    margin-left: 50px;
}

.navbar {
    width: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    height: 60px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.button1 {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #47adf1;
    margin-top: 15px;
    margin-left: 50px;
}

.button2 {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid rgb(214, 214, 214);
    color: rgb(221, 220, 220);
    background-color: white;
    margin-top: 15px;
}

.container {
    width: 70%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    padding-bottom: 30px;
}

.subtitle {
    font-size: 35px;
    padding-top: 35px;
    padding-left: 50px;
}

.symbol {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}

.cross {
    border: 2px solid red;
    color: red;
}

.check {
    border: 2px solid rgb(10, 212, 10);
    color: rgb(10, 212, 10);
}

.bubble {
    display: inline-block;
    border-radius: 14px;
    background-color: aqua;
    padding: 8px 12px;
    color: white;
    margin-top: 20px;
}

.argument {
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 25px;
    font-weight: 500;
}

.editorial {
    background-color: #47adf1;
}

.q1 {
    background-color: #9b71e3;
}

.recruiting {
    background-color:rgb(100, 192, 169);
}

.mobile {
    background-color: #f29e33;
}

.website {
    background-color: #d863a1;
}

.sales{
    background-color: #b0c926;
}